<!DOCTYPE html>
<html xmlns:th = "http://www.thymelaf.org">
<head>
    <title>Add Menu</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar (pageTitle='Add Menu')"></nav>
    
    <h3>
        Tambah Produk
    </h3>
    <form th:action="@{/menu/add/} + ${restoran.idRestoran}" th:object="${restoran}" method="POST">
  <input type="hidden" th:field="*{idRestoran}"/>
  <table>
   <thead>
       <tr>
           <th>Nama</th>
     <th>Deskripsi</th>
     <th>Harga</th>
     <th>Durasi Masak</th>
          <th><button type="submit" name="addRow" class="btn btn-sm btn-primary">Add row</button></th>
       </tr>
     </thead>
     <tbody>
       <tr th:each="menu,iterationStatus : *{listMenu}">
         <td><input type="text" th:field="*{listMenu[__${iterationStatus.index}__].nama}" /></td>
     <td><input type="text" th:field="*{listMenu[__${iterationStatus.index}__].deskripsi}" /></td>
     <td><input type="number" th:field="*{listMenu[__${iterationStatus.index}__].harga}" /></td>
     <td><input type="number" th:field="*{listMenu[__${iterationStatus.index}__].durasiMasak}" /></td>
          <td><button type="submit" name="removeRow" class="btn btn-sm btn-danger" th:value="${iterationStatus.index}">Hapus</button></td>
       </tr>
     </tbody>
  </table>
  <button type="submit" name="save" class="btn btn-sm btn-primary">Submit</button>
 </form>
</body>

</html>