<!DOCTYPE html>
<html xmlns:th="http://www.thymelaf.org">

<head>
    <meta charset="UTF-8">
    <title> Update Password </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar (pageTitle='Update Password')"></nav>
    <br>
    <div class="container-fluid">
            <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">Update Password</div>
                            <div th:text="${mssg}"></div>
                            <div class="card-body">
                                <form th:action="@{/user/updatePassword}" method="POST">
                                    <label> Password Lama</label>
                                    <input id="oldpass" type="password" name="oldPassword" class="form-control"/>
            
                                    <label> Password Baru</label>
                                    <input id="pass" type="password" name="newPassword" class="form-control" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" title="Must contain at least one number and at least 8 or more characters" required/>
            
                                    <label> Konfirmasi Password Baru</label>
                                    <input id="passConfirm" type="password" name="confirmedPassword" class="form-control" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" title="Must contain at least one number and at least 8 or more characters" required/>
                                    <span id="error" style="display: none">Password mismatch</span>
                                    <br>
                                    <button type="submit" class="btn btn-primary">Simpan</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
    </div>


</body>

</html>